body

{
	background-color: plum;

}

a:link {
    color: white;
}

h1 {
	text-align: center;
	font-family: Didot;
	color: white;
	font-size: 60px;
}

.topbar{
    font-family: Didot;
    color: white;
    text-align: middle;
    background-color: magenta;
    border: 5px black;
    border-radius: 15px;
    margin: 0px    0px    0px    0px;


}

.organic{
	text-align: center;
	font-family: Didot;
	color: white;
}

#search{
	font-family: Didot;
	color: white;
    float: right;
    padding: 5px;
    margin: 10px 10px 0px 0px;
    width: 200px;

}

#paypal{
    padding: 10px;
    margin: 10px 10px 0px 0px;
    width: 200px;

}

#dressscarf {
    border-radius: 8px;
    width: 300px;
    height: 300px;
    filter: sepia(20%); 
    /*border-style: groove;*/
    /*margin: 10px 10px 0px 0px;
    padding: 20px;*/
}

#dress {
    width: 100px;
    height: 100px;
    filter: sepia(20%)
    border-style: groove;
    /*margin: 20px 10px 0px 0px;
    padding: 5px;*/
    
}

/*#toppants {
    float: center
    width: 500px;
    height: 00px;
    filter: sepia(20%)
    border-style: groove;
    margin: 20px 10px 0px 0px;
    padding: 5px;*/


#items{
    float: left;
    width: 300px;
    margin: 20px 0px 20px 0px;
    font-family: Didot;
    color: white;
    list-style-type: none;
}

h5 {
    font-family: Didot;
    color: white;  
}

#footer{
    width: 800px;
    font-family: Didot;
    color: white;
}

<style type="text/css">
 
#share-buttons img {
width: 2px;
padding: 2px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>
