html {
  height: 100%;
  overflow: hidden;
}

body

{
	background-color: #fbfcfe;
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;

}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%);
}

/*img:last-of-type {
  text-align: center;
}*/

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  transform-style: inherit;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

#slide1:before {
  transform: translateZ(-1px) scale(2);
  z-index:-1;
  background-image: url("http://farm4.static.flickr.com/3725/11789111056_ff1167e045.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

/*#slide2 {
  background-attachment: fixed;
  /*background-image: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/121/1217/1217620/ddongcel8i4n3jtkl7iz7rv2cobeqgtofsufk4dbkvxzdailg0pidvwqvum62axl-f.jpg?1461783865");
}*/

/*#slide3:before {
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4:before {
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}*/

a:link {
    color: white;
}

h1 {
	text-align: center;
	font-family: Didot;
	color: #323232;
	font-size: 60px;
}

.topbar{
    font-family: Didot;
    color: #323232;
}

.organic{
	font-family: Didot;
	color: white;
  color: #323232;
  text-align: center;
}

#search{
	font-family: Didot;
	color: #323232;
    float: right;
    padding: .5px .5px .5px .5px;
    width: 200px;

}

#items{
    font-family: Didot;
    color: #323232;
}

h5 {
    font-family: Didot;
    color: #323232;  
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#footer{
    width: 1000px;
    font-family: Didot;
    color: #323232;
}

